@{
    ViewBag.Title = "Pago Exitoso";
}

<h1>¡Gracias por tu compra!</h1>
<p>Tu pago se ha procesado correctamente. En breve recibirás un correo electrónico con los detalles de tu pedido.</p>

<a href="@Url.Action("Index", "Home")">Volver a la página principal</a>
